<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<form method="POST">
        <label>Model</label>
        <br>
        <input name="Model">
        <br>
        <label>Daily Fee (VND)</label>
        <br>
        <input name="Daily_fee">
        <br>
        <label>Image</label>
        <br>
        <input name="Image">
        <br>
        <label>Year</label>
        <br>
        <input name="Year">
        <br>
        <br>
        <input type="Submit">
    </form>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new_bike</title>
</head>
<body>
    
</body>
</html>